<div class="header">
    <div class="header__logo"></div>
    <div class="header__menu">
        <div class="header__menu__item">
            <div class="header__menu__item__label">Федерация</div>
            <div class="header__menu__item__dropdown">
                <div class="header__menu__item__dropdown__item">Документы</div>
                <div class="header__menu__item__dropdown__item">Борьба с допингом</div>
                <div class="header__menu__item__dropdown__item">Спонсоры</div>
            </div>
        </div>
        <div class="header__menu__item">
            <div class="header__menu__item__label">Турниры</div>
        </div>
        <div class="header__menu__item">
            <div class="header__menu__item__label">Форум</div>
        </div>
    </div>
</div>
